.student-dashboard-notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

@media (max-width: 992px) {
    .student-dashboard-notes {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .student-dashboard-notes {
        grid-template-columns: 1fr;
    }
}

.student-dashboard-notes a {
    color: var(--main-color);
}

.student-dashboard-notes picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-dashboard-notes picture img {
    width: 150px !important;
}